@charset "UTF-8";

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

.site-header {
  position: relative;

  background-color: rgb(120, 255, 200);
}

.site-header-wapper,
.global-nav>.nav-wapper {
  display: flex;
  align-items: center;
}

.site-header>.container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 1.25rem 2rem;
}

.site-header>.container {
  max-width: 1050px;
  margin: 0 auto;
}

.brand {
  font-family: 'Anton', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
}

.global-nav {
  flex: 1;
}

.global-nav a {
  display: block;

  padding: 0 1rem;
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #555;
}

@media screen and (min-width: 600px) {
  .justify-end {
    margin-left: auto;
  }
}

@media screen and (max-width: 600px) {
  .global-nav>.nav-wapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    position: absolute;
    top: 100%;
    transform: translateY(-100%);
    left: 0;
    right: 0;

    padding: 1.5rem 1rem;
    background-color: rgb(90, 190, 150);
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
  }

  .nav-wapper.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  .nav-item:not(:first-of-type) {
    padding-top: 1.5rem;
  }
}

.toggle-btn {
  display: none;

  padding: .5rem .75rem;
  font-size: .75rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  background-color: rgb(70, 70, 255);
  border-radius: .3rem;
}

@media screen and (max-width: 600px) {
  .toggle-btn {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
  }
}