@charset "UTF-8";

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

.site-header {
  position: relative;

  background-color: rgb(120, 255, 200);
}

.site-header-wapper,
.global-nav,
.global-nav>.nav-wapper,
.site-header dl {
  display: flex;
  align-items: center;
}

.site-header-wapper {
  justify-content: space-between;
}

.site-header>.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2rem;
}

@media screen and (max-width: 599px) {
  .site-header>.container {
    padding: 1rem;
  }
}

#brand-image {
  font-family: 'Anton', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
}

.global-nav a {
  display: block;

  padding: 1.5rem 1rem;
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #555;
}

@media screen and (max-width: 599px) {
  .global-nav>.nav-wapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    position: absolute;
    top: 100%;
    transform: translateY(-100%);
    left: 0;
    right: 0;

    padding: 1.5rem 1rem;
    background-color: rgb(90, 190, 150);
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
  }

  .nav-wapper.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  .nav-item:not(:first-of-type) {
    padding-top: 1.5rem;
  }
}

.toggle-btn {
  display: none;
}

@media screen and (max-width: 599px) {
  .toggle-btn {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    padding: .5rem .75rem;
    font-size: .75rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    background-color: rgb(70, 70, 255);
    border-radius: .3rem;
  }
}

.header-form {
  margin-left: 1rem;
}

.header-form>dl {
  flex-direction: row-reverse;
}

.header-form label::before {
  content: "\f002";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  border-left: 1px solid #333;
  padding: .5rem 0 .5rem 1rem;
}

@media screen and (max-width: 599px) {
  .header-form label::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 6rem;

    padding: .5rem 1rem .5rem 0;
    border: 0;
    border-right: 1px solid #333;
  }
}

.header-form input {
  width: 22rem;
  padding: .5rem;
  background-color: #fff;
}

.header-form input:focus-visible {
  outline: none;
}

@media screen and (max-width: 599px) {
  .header-form input {
    position: absolute;
    top: 4rem;
    left: 0;
    padding: 1rem;
    width: 100%;
    border-bottom: 1px dotted #333;
  }
}

.header-form dd {
  display: none;
}

.header-form dd.active {
  display: contents;
}

@media screen and (max-width: 599px) {
  .header-form dd.active {
    position: absolute;
    top: 10rem;
    left: 0;

    width: 100%;
    height: 5rem;
    background-color: #eee;
  }

}